.forecast-summary {
    background-color: #B6CFB6;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}
  
.forecast-summary__date {
    font-size: 20px;
    font-weight: bold;
}
  
.forecast-summary__icon {
    font-size: 35px;
}
  
.forecastSummaryButton {
    border: none;
}
  
.forecastSummaryButton:hover {
    background: #F6EAC2;
    font-weight: bold;
}